{%  extends 'base.html' %}
{% block head %}
<title>E-Learning</title>
{% endblock %}

{% load static %}

{% block myapp %}
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'app:index' %}">App</a></li>
                <li><a href="{% url 'elearning:index' %}">Home</a></li>
                <li><a href="{% url 'elearning:course_list' %}">Course List</a></li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'elearning:index' %}" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="">Student List</a>
                  <a class="dropdown-item" href="{% url 'elearning:course_add' %}">Add Course</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'elearning:show_results_all_sections' %}">User Scores</a>
                  <a class="dropdown-item" href="#">DDDDD</a>
                </div>
                </li>
            </ul>
{% endblock %}

{% block body %}
 This is {{ title }}
{% endblock %}